#header
	#switter_logo
		= link_to image_tag('switter_logo.png', id: 'switter_logo', width: '25%', height: '30%'), home_path
	- if session[:logged_in]
		#greeting
			Welcome
			= session[:username] + "!"
		%ul.button-group{class: "[radius round]"}
			%li
				%a.button.alert{class: "[secondary success]", href: home_path} Home
			%li
				%a.button.alert{class: "[secondary success]", href: edit_user_path(@user)} Change Password
			%li
				%a.button.alert{class: "[secondary success]", href: signout_path} Signout